# Java
*.iml
*.ipr
*.class
out/
!**/src/main/**/out/
!**/src/test/**/out/
uploads/

#gradle
.gradle/
build/
bin/

# IDE
/.idea/
/*.iml
/.vscode/

# OS
.DS_Store
Thumbs.db

# Logs, temp files, and databases
*.log
*.tmp
*.temp

# Pakage Files
*.jar
*.war
*.ear
*.nar

# Spring Boot
src/main/resources/application.yml
src/main/resources/application-*.yml
*.yml
# keep example tracked
!src/main/resources/application-example.yml

main.py
/src/test/java/com/pres/pres_server/service/auth
